/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: #fff;
}

a {
    text-decoration: none;
    color: white;
}

ul, li {
    list-style-type: none;
}

/* HELPER CLASSES
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
    background: #7000ff;
    height: 84px;
    line-height: 84px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.logo img {
    width: 250px;
    height: 40px;
    padding-top: 17px;
}

.social {
    float: right;
    vertical-align: top;
    display: inline-block;
}

.social a {
    text-decoration: none;
    cursor: pointer;
}

.social a img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    padding-top: 27px;
}

.icon-up-open-big {
    display: inline-block;
}

.icon-up-open-big:after {
    content: "";
    background-image: url("img/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 5px;
}

.icon-up-open-big:hover:after {
    transform: translateY(5px);
    transition: transform 200ms linear;
}
.icon-up-open-big:not(hover):after {
    transition: transform 200ms linear;
}

.scroll-icon {
    position: absolute;
    font-size: 14px;
    color: #3a0073;
    left: calc(50% - 105px);
    bottom: 10px;
    padding: 0 10px;
    font-weight: 600;
    width: 220px;
    z-index: 4;
}


/* SECTION STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
    max-width: calc(100% - 300px);
    margin: auto;
}

section {
    text-align: center;
}

.block {
    background-size: 120%;
    background-position: center 40%;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: top ease-out .3s;
}
.button {
    width: 300px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
    background-color: #ff7200;
    border: none;
}
.button span {
    font-weight: 600;
}
.button:hover {
    box-shadow: 0px 0px 25px rgba(255, 114, 0, 0.8);
}
.button:focus {
    border-radius: 50px;
    outline: #ff7200;
}
#gif {
    cursor: pointer;
}
.gif-back {
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 550px;
}
.block-item-wrapper {

}
.block-item-left {

}
.block-item-right {
    max-width: 400px;
}
.block-title {
    font-size: 24px;
    margin: 40px 0 20px 0;
}
.block-text {
    font-size: 16px;
    font-weight: 300;
}
.fp-tableCell {
    display: block;
}
.text {
    width: 500px;
    text-align: left;
    position: absolute;
    top: calc(50% - 389px);
    left: calc(50% + 100px);
}

/*block-1*/

.block-1 {
    background-image: url("img/block-1.png");
}
.block-1-item {
    float: left;
    text-align: left;
    position: absolute;
    top: 33%;
}
.block-1-item__title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;

}
.block-1-item__text {
    font-size: 25px;
    font-weight: 100;
    margin: 30px 0;
}

/*block-2*/

.block-2 {
    /*background-image: url("img/block-2.png");*/
    background-color: #7000ff;
    position: relative;
    /*background-image: url("img/trace.png");*/
    /*background-size: cover;*/
}
.block-2-back {
    height: 100%;
    position: relative;
    /*background-image: url("img/block-2.png");*/
    /*background-image: url("img/trace.png");*/
    /*background-size: cover;*/
}
.trace {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.block-2 .block-item-wrapper {


}
.block-2 #gif {
    height: 520px;
    width: 600px;
    position: absolute;
    top: calc(50% - 270px);
    left: calc(50% - 300px);
}
.block-2 .gif-back {
    background-image: url("img/pin1.png");
    height: 520px;
    width: 600px;
    position: absolute;
    top: calc(50% - 310px);
    left: calc(50% - 670px);
    z-index: 20;
}
.pin {
    background-image: url("img/mini-pin.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 111px;
    height: 132px;
    position: absolute;
    cursor: pointer;
    z-index: 4;
}
.pin:hover {
    content: '';
    background-image: url("img/mini-pin1.png");
}
.block-2 .pin-1 {
    top: 65%;
    left: 49%;
}
.block-2 .pin-2 {
    top: 39%;
    left: 61%;
}
.block-2 .pin-3 {
    top: 32%;
    right: 11%;
}

    /*block-3*/

.block-3 {
    background-image: url("img/block-3.png");
}

/*block-4*/

.block-4 {
    background-image: url("img/block-4.png");
}

/* SLIDENAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: transparent;
    background-image: url("img/circle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    background-image: url("img/circle-orange.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
}
#fp-nav.right {
    left: 17px;
}
#fp-nav {
    width: 50px;
}

.video-modal1,
.video-modal2,
.video-modal3 {
    display: none;
    position: fixed;
    width: 1010px;
    height: 600px;
    left: 50%;
    top: 50%;
    z-index: 10;
}
.video-modal1_content,
.video-modal2_content,
.video-modal3_content {
    transform: translate(-50%, -50%);
    z-index: 9;
    position: relative;
    background-size: contain;
    width: 800px;
    height: 440px;
    background-color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.video-modal1_overlay,
.video-modal2_overlay,
.video-modal3_overlay {
    z-index: 8;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.video-modal .fp-slidesNav.bottom {
    bottom: 400px
}
.video-modal  #fp-nav ul li a span, .video-modal .fp-slidesNav ul li a span {
    background: black;
}
iframe {
    width: 1010px;
    height: 600px;
}

.trailer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}
.trailer-popup {
    width: 70%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10000;
}
.trailer-popup iframe {
    width: 100%;
    height: 100%;
}
.trailer-popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.trailer-popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.trailer-popup-close:before, .trailer-popup-close:after {
    content: ' ';
    display: block;
    width: 24px;
    height: 4px;
    background-color: white;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-45deg) translate(-8px, 18px);
    -ms-transform: rotate(-45deg) translate(-8px, 18px);
    transform: rotate(-45deg) translate(-8px, 18px);
}
.trailer-popup-close:after {
    -webkit-transform: rotate(45deg) translate(15px, 5px);
    -ms-transform: rotate(45deg) translate(15px, 5px);
    transform: rotate(45deg) translate(15px, 5px);
}
.horizontal-scrolling {
    color: #000;
    text-align: center;
}
.block-2 .play {
    width: 80px;
    height: 80px;
    background-image: url("img/play.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% + 50px);
    cursor: pointer;
    z-index: 3
}
.play:hover {
    opacity: 0.5;
}
.close {
    width: 30px;
    height: 30px;
    background-image: url("img/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
/*MQ STYLES*/
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (min-width: 1500px) {
    .wrapper {
        max-width: 1300px;
    }
    .social a img {
        width: 40px;
        height: 40px;
    }
    .logo img {
        width: 300px;
        height: 40px;
        padding-top: 27px;
    }
    .block-1-item__title {
        font-size: 44px;
    }
    .block-1-item__text {
        font-size: 32px;
    }
    .button {
        width: 360px;
        height: 70px;
        font-size: 32px;
    }
    .block-1-item {
        top: 37%;
    }
    .block-1 {
        background-size: 130%;
        background-position: center 33%;
    }
}
@media screen and (min-width: 1600px) {
    .wrapper {
        max-width: 1400px;
    }
    .social a img {
        width: 50px;
        height: 50px;
    }
    .logo img {
        width: 350px;
        height: 50px;
        padding-top: 27px;
    }
    .block-1-item__title {
        font-size: 48px;
    }
    .block-1-item__text {
        font-size: 36px;
    }
    .button {
        width: 380px;
        height: 80px;
        font-size: 36px;
    }
    .block-1-item {
        top: 37%;
    }
    .block-1 {
        background-size: 130%;
        background-position: center 46%;
    }
}
@media screen and (min-width: 1700px) {
    .wrapper {
        max-width: 1500px;
    }
}


