/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: #fff;
}

a {
    text-decoration: none;
    color: white;
}

ul, li {
    list-style-type: none;
}

/* HELPER CLASSES
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
    background: #7000ff;
    height: 84px;
    line-height: 84px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.logo img {
    width: 250px;
    height: 40px;
    padding-top: 17px;
}

.social {
    float: right;
    vertical-align: top;
    display: inline-block;
}

.social a {
    text-decoration: none;
    cursor: pointer;
}

.social a img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    padding-top: 27px;
}

.icon-up-open-big {
    display: inline-block;
}

.icon-up-open-big:after {
    content: "";
    background-image: url("img/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 5px;
}

.icon-up-open-big:hover:after {
    transform: translateY(5px);
    transition: transform 200ms linear;
}
.icon-up-open-big:not(hover):after {
    transition: transform 200ms linear;
}

.scroll-icon {
    position: absolute;
    font-size: 14px;
    color: #3a0073;
    left: calc(50% - 105px);
    bottom: 10px;
    padding: 0 10px;
    font-weight: 600;
    width: 220px;
}


/* SECTION STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
    max-width: calc(100% - 300px);
    margin: auto;
}

section {
    text-align: center;
}

.block {
    background-size: 120%;
    background-position: center 40%;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: top ease-out .3s;
}
.button {
    width: 300px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
    background-color: #ff7200;
    border: none;
}
.button span {
    font-weight: 600;
}
.button:hover {
    box-shadow: 0px 0px 25px rgba(255, 114, 0, 0.8);
}
.button:focus {
    border-radius: 50px;
    outline: #ff7200;
}
#gif {
    cursor: pointer;
}
.gif-back {
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 550px;
}
.block-item-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.block-item-left {

}
.block-item-right {
    max-width: 400px;
}
.block-title {
    font-size: 24px;
    margin: 40px 0 20px 0;
}
.block-text {
    font-size: 16px;
    font-weight: 300;
}
/*block-1*/

.block-1 {
    background-image: url("img/block-1.png");
}
.block-1-item {
    float: left;
    text-align: left;
    position: absolute;
    top: 33%;
}
.block-1-item__title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;

}
.block-1-item__text {
    font-size: 25px;
    font-weight: 100;
    margin: 30px 0;
}

/*block-2*/

.block-2 {
    background-image: url("img/block-2.png");
    position: relative;
}
.block-2 #gif {
    height: 520px;
    width: 600px;
    position: absolute;
    top: calc(50% - 270px);
    left: calc(50% - 300px);

}


.block-2 .gif-back {
    background-image: url("img/pin1.png");
    height: 520px;
    width: 600px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
}

.block-2 .gif-back:after {
    content: '';
    width: 80px;
    height: 80px;
    background-image: url("img/play.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% + 50px);
}
.block-2-item {

}
    /*block-3*/

.block-3 {
    background-image: url("img/block-3.png");
}

/*block-4*/

.block-4 {
    background-image: url("img/block-4.png");
}

/* SLIDENAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: transparent;
    background-image: url("img/circle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    background-image: url("img/circle-orange.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
}
#fp-nav.right {
    left: 17px;
}
#fp-nav {
    width: 50px;
}

/**MQ STYLES*/
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*@media screen and (max-width: 1820px) {*/
    /*.wrapper {*/
        /*max-width: calc(100% - 300px);*/
    /*}*/
/*}*/

